body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(2, 90, 9);
}

/* Home page Images */
#game_img {
height: 10vw;

}



/* Nav Bar */
#nav {
border-style: groove;
}

#nav a {
  text-align: center;
  color: yellow;
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 14px;
  overflow: hidden;
  background-color: #02833c;
}

li {
  float: left;
  }

li a {
  /* display: inline-block; */
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  height: 2vw;
  
}


li a:hover {
  background-color: #02993c;
  border-radius: 100px;
  border-style: groove;
}

/* Main */



/* Game Container */
#container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: green;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 10vw;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 500%;
  color: yellow;
  }


.dealer-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  }

.play-area {
  display: flex;
  justify-content: center;
}

.dealer-card {
  width: 16vw;
  height: 23vw;
  background-image: url(../images/back.JPG);
  background-size: cover;
  border: 5px solid #696969;
  border-radius: 10px;
  display: flex;
   
  }

.player-card {
  width: 16vw;
  height: 23vw;
  background-image: url(../images/back.JPG);
  background-size: cover;
  border: 5px solid #696969;
  border-radius: 10px;
  display: flex;
    
  }

button {
  margin: 5px;
  font-weight: bolder;
  border-radius: 50%;
}

p {
  font-size: 24px;
  margin-bottom: 10px;
  color: yellow;
}

#credits {
  color: white;
}

#bet {
  color: white;
}

#deal,
#hit, #pass {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: red; 
  color: white;
}

#betUp {
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: yellow; 
  color: black;
}

#betDown {
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: yellow; 
  color: black;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: white; 
  color: black;

}


