body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(2, 90, 9);
}

/* Home page Images */
#game_img {
  height: 7vw;
  border-radius: 2px;
}

.aces_img {
  height: 7vw;
  margin-bottom: 15px;
  margin-left: 12px;
  border-radius: 2px;
}

.rank_img {
  justify-content: space-around;
  height: 6vw;
  border-radius: 2px;
  margin-left: 3px;
}

/* Nav Bar */
#nav {
  border-style: groove;
}

#nav a {
  text-align: center;
  color: yellow;
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 14px;
  overflow: hidden;
  background-color: #02833c;
}

li {
  float: left;
}

li a {
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  height: 2vw;
}

li a:hover {
  background-color: #02993c;
  border-radius: 100px;
  border-style: groove;
}

ol li {
  text-align: left;
  color: black;
}

body div p {
  margin-left: 2vw;
}
.main-container div p {
  text-align: center;
}

/* Main */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  border-style: inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
}
/* Footer */

.footer {
  text-align: center;
  padding: 3px;
  background-color: #02833c;
  color: yellow;
}

.footer a {
    font-size: 20px;
    color: inherit;
    border: 1px solid #d4f807;
    width: 35px;
    height: 35px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  
  .footer a:hover {
    opacity: 1;
  }


/* Calculator page */

.how-to-win {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: green;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 5vw;
}

.how-to-win h2 {
  font-size: 200%;

}

.how-to-win h3 {
  font-size: 120%;
  color: orangered;
  }

  .how-to-win p {
    text-align: left;
    font-size: 100%;
  }

.card {
  width: 100px;
  height: 150px;
  background-size: cover;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 30vw;
  top: 50%;
  width: 40%;
  height: 12.5%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

.modal-content {
  background-color: rgb(102, 243, 84, 0.7);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  font-weight: bold;
}

.dealer-card-scenario {
  width: 10.6vw;
  height: 15vw;
  background-size: cover;
  border: 2px solid #696969;
  border-radius: 6px;
  display: flex;
  margin: 0 5vw 0 5vw;
}

.player-card-scenario {
  width: 10.6vw;
  height: 15vw;
  background-size: cover;
  border: 2px solid #696969;
  border-radius: 6px;
  display: flex;
  margin-top: -10vw;
}

#scenario_img {
  border-radius: 6px;
}


/* Game Container */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: green;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 5vw;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 500%;
  color: yellow;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 150%;
  color: rgb(255, 81, 0);
}

.dealer-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.play-area {
  display: flex;
  justify-content: center;
}

.dealer-card {
  width: 16vw;
  height: 23vw;
  background-image: url(../images/back.jpg);
  background-size: cover;
  border: 5px solid #696969;
  border-radius: 10px;
  display: flex;
}

.player-card {
  width: 16vw;
  height: 23vw;
  background-image: url(../images/back.jpg);
  background-size: cover;
  border: 5px solid #696969;
  border-radius: 10px;
  display: flex;
  margin-top: -95px;
}

button {
  margin: 5px;
  border-radius: 50%;
  color: white;
}

#calculate {
height: 3vw;
width: 10vw;

}

p {
  font-size: 20px;
  margin-bottom: 10px;
  color: yellow;
}

#credits {
  color: white;
}

#bet {
  color: white;
}

#deal,
#hit,
#pass {
  margin-top: 20px;
  padding: 6px 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: red;
  color: white;
}

#betUp {
  padding: 7px 12px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: yellow;
  color: black;
}

#betDown {
  padding: 7px 12px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: yellow;
  color: black;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
}

/* Media quieres */

@media only screen and (min-width: 1200px) { }

/* Main Page */

/* Calculator */

/* Inbetweens */


@media only screen and (max-width: 1200px) {
  /* Main Page */

/* Calculator */

/* Inbetweens */
}



@media only screen and (max-width: 1024px) { 
  /* Main Page */

/* Calculator */

/* Inbetweens */
}



@media only screen and (max-width: 768px) { 
  /* Main Page */

/* Calculator */

/* Inbetweens */
}


@media only screen and (max-width: 480px) {
  /* Main Page */
h1 {
  font-size: 200%;
}

p{
  font-size: 12px;
}

ol li {
  font-size: 10px;
}

/* Calculator */

/* Inbetweens */
}



@media only screen and (max-width: 480px) { 

  /* Main Page */
h1 {
  font-size: 200%;
}

p {
  font-size: 12px;
}

ol li {
  font-size: 10px;
}

/* Calculator */

/* Inbetweens */
}

