body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(2, 90, 9);
}

/* Home page Images */
#game_img {
  height: 7vw;
}

#aces_img {
  height: 7vw;
}

/* Nav Bar */
#nav {
  border-style: groove;
}

#nav a {
  text-align: center;
  color: yellow;
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 14px;
  overflow: hidden;
  background-color: #02833c;
}

li {
  float: left;
}

li a {
  /* display: inline-block; */
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  height: 2vw;
}

li a:hover {
  background-color: #02993c;
  border-radius: 100px;
  border-style: groove;
}

p ol li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: yellow;
}

p li {
  padding-left: 56px;
  display: table;
}

/* Main */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  border-style: inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
}

#card-images img {
  justify-content: space-around;
  height: 6vw;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: #02833c;
  color: yellow;
}

/* Instructions page */
/* .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
} */

.card {
  width: 100px;
  height: 150px;
  background-size: cover;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 30vw;
  top: 12.5vw;
  width: 40%;
  height: 12.5%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

.modal-content {
  background-color: rgb(102, 243, 84, 0.7);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  font-weight: bold;
}

/* Game Container */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: green;
  border-radius: 10px;
  border-style: inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 5vw;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 500%;
  color: yellow;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 150%;
  color: rgb(255, 81, 0);
}

.dealer-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.play-area {
  display: flex;
  justify-content: center;
}

.dealer-card {
  width: 16vw;
  height: 23vw;
  background-image: url(../images/back.jpg);
  background-size: cover;
  border: 5px solid #696969;
  border-radius: 10px;
  display: flex;
}

.player-card {
  width: 16vw;
  height: 23vw;
  background-image: url(../images/back.jpg);
  background-size: cover;
  border: 5px solid #696969;
  border-radius: 10px;
  display: flex;
}

button {
  margin: 5px;
  font-weight: bolder;
  border-radius: 50%;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  color: yellow;
}

#credits {
  color: white;
}

#bet {
  color: white;
}

#deal,
#hit,
#pass {
  margin-top: 20px;
  padding: 6px 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: red;
  color: white;
}

#betUp {
  padding: 7px 12px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: yellow;
  color: black;
}

#betDown {
  padding: 7px 12px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: yellow;
  color: black;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
}
